@media screen and (min-width: 900px) {
  .App {
    background-image: url("background_skyscrapers_evenWider_upscaled.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    height: 3700px;
  }
}
@media screen and (max-width: 900px) {
  .App {
    background-image: url("background_skyscrapers.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    height: 2000px;
  }
}
@media screen and (min-width: 900px) {
  .App {
    margin: 0 auto;
  }
  @media screen and (min-width: 1500px) {
    .App {
      width: 80vw;
    }
  }
}
@media screen and (max-width: 900px) {
  .App > div {
    position: fixed;
    top: 60px;
    left: 0px;
  }
  .App > div > img {
    height: 110px;
  }
  .App {
    margin: 0 auto;
  }
}
footer {
  width: 100%;
  background-color: rgb(29, 29, 29);
  height: 50px;
  z-index: -1;
  position : relative;
}
header {
  width: 100%;
  background-color: rgb(29, 29, 29);
  height: 50px;
}
body {
  background-color: rgb(29, 29, 29);
}
